/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: rgb(255, 60, 60);
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {font-size: 19px; font-family: Verdana, Geneva, Tahoma, sans-serif

}

code {
	
}

h1, h2, h3 {margin-bottom: 8px;

}

h1 {font-weight: 800; text-align: center;

}

h2 {font-weight: 900;

}

h3 {margin-top: 10px; font-weight: 500;
	
}

header {margin: 1em;
	
}

main {

}

p {line-height: 140%; text-indent: 2em; text-align: left;

}

#intro {margin: 2em;

}

#how-does-it-work, #influence, #joke {margin: 2em;

}